.sidebarOption{
    display: flex;
    /* width:10vw; */
    align-items: center;
    /* justify-content: space-between; */
    height:40px;
    padding: 0px 10px;
    /* background-color: rgb(179, 85, 85); */
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    cursor:pointer;
    color: grey;     
}
.sidebarOption > .MuiSvgIcon{
    padding:5px;
}
.sidebarOption:hover,
.sidebarOption>p:hover,
.sidebarOption>h3:hover{
    background-color: #fcecec;
    color:#c04b37;
    font-weight: 800 im !important;
}
.sidebarOption > h3{
    flex:1;
    margin-left: 10px;
    font-size: 14;
    font-weight: 400;
}
.sidebarOption > p{
    display: none;
    font-weight: 300;
}
.sidebarOption:hover>p{
    display: inline;
}

.sidebarOption--selected{
    background-color: #fcecec;
    color:#c04b37;
    font-weight: 800 im !important;
    
}
.sidebarOption--selected>p{
    display: inline;
}